<section id="user-preferences-form">
  <div class="columns">
    <div class="column is-2"></div>
    <div class="column is-8">
      <h2 class="title">Basic Information</h2>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Username</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Username" [(ngModel)]="user.Username" disabled>
              <span class="icon is-small is-left">
              <i class="fa fa-user-o"></i>
            </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <div class="field is-grouped">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="First" [(ngModel)]="user.FirstName">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Last" [(ngModel)]="user.LastName">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Email</label><br />
          <a (click)="addNewEmail()">Add New</a>
        </div>
        <div class="field-body box">
            <div class="field">
              <article class="media" *ngFor="let email of user.EmailAddresses">
                <div class="media-content">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="email" placeholder="Email" [(ngModel)]="email.EmailAddress">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope-o"></i>
                    </span>
                  </p>
                </div>
                <div class="media-right">
                  <div class="field is-grouped">
                    <p class="control is-expanded">
                      <input class="checkbox" type="checkbox" [(ngModel)]="email.IsPrimary"> Is Primary
                    </p>
                    <p class="control is-expanded">
                      <input class="checkbox" type="checkbox" [(ngModel)]="email.IsVerified" disabled> Is Verified
                    </p>
                    <p class="control is-expanded">
                      <input class="checkbox" type="checkbox" [(ngModel)]="email.CanEmail"> Can Email
                    </p>
                  </div>
                </div>
              </article>
          </div>
        </div>
      </div>

      <hr />

      <!--<h2 class="title">Preferences</h2>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Can we text you?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" name="CanText" [(ngModel)]="user.CanText" [value]="true">
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="CanText" [(ngModel)]="user.CanText" [value]="false">
                No
              </label>
              <span class="help is-info" [hidden]="!user.CanText">*Standard data and/or message rates may apply</span>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Can we email you?</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" name="CanEmail" [(ngModel)]="user.CanEmail" [value]="true">
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="CanEmail" [(ngModel)]="user.CanEmail" [value]="false">
                No
              </label>
            </div>
          </div>
        </div>
      </div>-->

      <hr />

      <h2 class="title">Security</h2>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <span>Click here to change your password</span>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Two-Factor Authentication</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" name="twoFactorAuthentication" [(ngModel)]="user.TwoFactorAuthentication" [value]="true" [disabled]="!user.CanText">
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="twoFactorAuthentication" [(ngModel)]="user.TwoFactorAuthentication" [value]="false" [disabled]="!user.CanText">
                No
              </label>
              <span class="help is-danger" [hidden]="user.CanText">*You must allow texting to enable this feature</span>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary is-large" (click)="save()" [class.is-loading]="isSaving">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-2"></div>
  </div>
</section>