<section id="user-preferences-form">
  <div class="columns">
    <div class="column is-2"></div>
    <div class="column is-8">
      <h2 class="title">Basic Information</h2>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Username</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Username" [(ngModel)]="user.Username" disabled>
              <span class="icon is-small is-left">
              <i class="fa fa-user-o"></i>
            </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <div class="field is-grouped">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="First" [(ngModel)]="user.FirstName">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Last" [(ngModel)]="user.LastName">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Email</label><br />
          <a (click)="addNewEmail()" class="button is-small green">
            <span class="icon">
              <i class="fa fa-plus-circle"></i>
            </span>
            <span>Add New Email</span>
          </a>
        </div>
        <div class="field-body box">
            <div class="field">
              <article class="media" *ngFor="let email of user.EmailAddresses">
                <div class="media-left">
                  <button class="button" (click)="deleteEmail(email)" [disabled]="email.IsPrimary">
                    <span class="icon">
                      <i class="fa fa-trash red"></i>
                    </span>
                  </button>
                </div>
                <div class="media-content">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="email" placeholder="Email" [(ngModel)]="email.EmailAddress">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope-o"></i>
                    </span>
                  </p>
                </div>
                <div class="media-right">
                  <div class="field is-grouped">
                    <p class="control is-expanded">
                      <input class="checkbox" type="checkbox" [(ngModel)]="email.IsPrimary" (click)="preventIfPrimary($event, email)" (click)="markNonSelectedEmailsAsNotPrimary(user.EmailAddresses, email)"> Is Primary
                    </p>
                    <p class="control is-expanded">
                      <input class="checkbox" type="checkbox" [(ngModel)]="email.CanEmail"> Can Email
                    </p>
                    <p class="control is-expanded">
                      <span class="icon">
                        <i class="fa" 
                          [class.fa-times]="!email.IsVerified" 
                          [class.fa-check]="email.IsVerified"
                          [class.green]="email.IsVerified"
                          [class.red]="!email.IsVerified"></i>
                      </span> Is Verified
                    </p>
                  </div>
                </div>
              </article>
          </div>
        </div>
      </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Phone</label><br />
                <a (click)="addNewPhone()" class="button is-small green">
                  <span class="icon">
                    <i class="fa fa-plus-circle"></i>
                  </span>
                  <span>Add New Phone</span>
                </a>
              </div>
              <div class="field-body box">
                <div class="field">
                  <article class="media" *ngFor="let phone of user.PhoneNumbers">
                    <div class="media-left">
                      <button class="button" (click)="deletePhone(phone)" [disabled]="phone.IsPrimary">
                    <span class="icon">
                      <i class="fa fa-trash red"></i>
                    </span>
                  </button>
                    </div>
                    <div class="media-content">
                      <p class="control is-expanded has-icons-left">
                        <input class="input" type="tel" placeholder="Phone" [(ngModel)]="phone.PhoneNumber">
                        <span class="icon is-small is-left">
                          <i class="fa fa-phone"></i>
                        </span>
                      </p>
                    </div>
                    <div class="media-right">
                      <div class="field is-grouped">
                        <div class="control has-icons-left">
                          <div class="select control is-expanded">
                            <select [(ngModel)]="phone.PhoneType">
                              <option *ngFor="let key of phoneTypeKeys" [value]="key">{{phoneType[key]}}</option>
                            </select>
                          </div>
                          <div class="icon is-small is-left">
                            <i class="fa fa-phone-square"></i>
                          </div>
                        </div>
                        <p class="control is-expanded">
                          <input class="checkbox" 
                            type="checkbox" 
                            [(ngModel)]="phone.IsPrimary" 
                            (click)="preventIfPrimary($event, phone)"
                            (click)="markNonSelectedPhonesAsNotPrimary(user.PhoneNumbers, phone)"> Is Primary
                        </p>
                        <p class="control is-expanded">
                          <input class="checkbox" type="checkbox" [(ngModel)]="phone.CanText"> Can Text
                        </p>
                        <p class="control is-expanded">
                          <span class="icon">
                        <i class="fa" 
                          [class.fa-times]="!phone.IsVerified" 
                          [class.fa-check]="phone.IsVerified"
                          [class.green]="phone.IsVerified"
                          [class.red]="!phone.IsVerified"></i>
                      </span> Is Verified
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>

      <hr />

      <h2 class="title">Security</h2>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <a (click)="showChangePasswordModal = true">Click here to change your password</a>
          </div>
        </div>
      </div>

      <div class="modal" [class.is-active]="showChangePasswordModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Change Password</p>
            <button class="delete" (click)="closeChangePasswordModal()"></button>
          </header>
          <section class="modal-card-body">
            <input class="input" type="password" /><br />
            <input class="input" type="password" /><br />
            <input class="input" type="password" />
          </section>
          <footer class="modal-card-foot">
            <a class="button is-success">Save</a>
            <a class="button" (click)="closeChangePasswordModal()">Cancel</a>
          </footer>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label">Two-Factor Authentication</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <label class="radio">
                <input type="radio" 
                  name="twoFactorAuthentication" 
                  [(ngModel)]="user.TwoFactorAuthentication" 
                  [value]="true" 
                  [disabled]="!canTextUser()">
                Yes
              </label>
              <label class="radio">
                <input type="radio" 
                  name="twoFactorAuthentication" 
                  [(ngModel)]="user.TwoFactorAuthentication" 
                  [value]="false" 
                  [disabled]="!user.CanText">
                No
              </label>
              <span class="help is-danger" [hidden]="canTextUser()">*You must allow texting to enable this feature</span>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary is-large" (click)="save()" [class.is-loading]="isSaving">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-2"></div>
  </div>
</section>